mdm/ExcelSystem/resource/com/yonyou/mdm/IMdSharingThirdPartService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="IMdSharingThirdPartService" targetNamespace="http://sharing.mdm07.itf.yonyou.com/IMdSharingThirdPartService" jaxb:version="2.0" xmlns:jaxws="http://java.sun.com/xml/ns/jaxws" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:ns0="http://sharing.mdm07.itf.yonyou.com/IMdSharingThirdPartService" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:jaxb="http://java.sun.com/xml/ns/jaxb">
<wsdl:documentation source="eip_version">63</wsdl:documentation>
  <wsdl:types>
    <xsd:schema attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="http://sharing.mdm07.itf.yonyou.com/IMdSharingThirdPartService"><xsd:import namespace="http://sharing.mdm07.itf.yonyou.com/MdMapingVO" schemaLocation="../../../com/yonyou/itf/mdm07/sharing/MdMapingVO.xsd"/><xsd:import namespace="http://sharing.mdm07.itf.yonyou.com/OuterSystemRetVO" schemaLocation="../../../com/yonyou/itf/mdm07/sharing/OuterSystemRetVO.xsd"/><xsd:include schemaLocation="../../../com/yonyou/itf/mdm07/sharing/IMdSharingThirdPartService.xsd"/></xsd:schema>
  </wsdl:types>
  <wsdl:message name="getRemoteMdCountRequest">
    <wsdl:part name="parameters" element="ns0:getRemoteMdCount">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="loadMdBatchRequest">
    <wsdl:part name="parameters" element="ns0:loadMdBatch">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="loadMdBatchResponse">
    <wsdl:part name="parameters" element="ns0:loadMdBatchResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="distributeMdResponse">
    <wsdl:part name="parameters" element="ns0:distributeMdResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="distributeMdRequest">
    <wsdl:part name="parameters" element="ns0:distributeMd">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getRemoteMdCountResponse">
    <wsdl:part name="parameters" element="ns0:getRemoteMdCountResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="loadMdRequest">
    <wsdl:part name="parameters" element="ns0:loadMd">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="loadMdResponse">
    <wsdl:part name="parameters" element="ns0:loadMdResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="IMdSharingThirdPartServicePortType">
    <wsdl:operation name="getRemoteMdCount">
      <wsdl:input message="ns0:getRemoteMdCountRequest" wsaw:Action="urn:getRemoteMdCount">
    </wsdl:input>
      <wsdl:output message="ns0:getRemoteMdCountResponse" wsaw:Action="urn:getRemoteMdCountResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="loadMd">
      <wsdl:input message="ns0:loadMdRequest" wsaw:Action="urn:loadMd">
    </wsdl:input>
      <wsdl:output message="ns0:loadMdResponse" wsaw:Action="urn:loadMdResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="loadMdBatch">
      <wsdl:input message="ns0:loadMdBatchRequest" wsaw:Action="urn:loadMdBatch">
    </wsdl:input>
      <wsdl:output message="ns0:loadMdBatchResponse" wsaw:Action="urn:loadMdBatchResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="distributeMd">
      <wsdl:input message="ns0:distributeMdRequest" wsaw:Action="urn:distributeMd">
    </wsdl:input>
      <wsdl:output message="ns0:distributeMdResponse" wsaw:Action="urn:distributeMdResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="IMdSharingThirdPartServiceSOAP11Binding" type="ns0:IMdSharingThirdPartServicePortType">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="getRemoteMdCount">
      <soap:operation soapAction="urn:getRemoteMdCount" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="loadMd">
      <soap:operation soapAction="urn:loadMd" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="loadMdBatch">
      <soap:operation soapAction="urn:loadMdBatch" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="distributeMd">
      <soap:operation soapAction="urn:distributeMd" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="IMdSharingThirdPartService">
    <wsdl:port name="IMdSharingThirdPartServiceSOAP11port_http" binding="ns0:IMdSharingThirdPartServiceSOAP11Binding">
      <soap:address location="http://localhost/uapws/service/com.yonyou.itf.mdm07.sharing.IMdSharingThirdPartService"/>
    </wsdl:port>
  </wsdl:service>
    <jaxws:bindings>
	<jaxws:package name="com.yonyou.itf.mdm07.sharing"/>
</jaxws:bindings>
</wsdl:definitions>
