ExcelSystem/resource/com/yonyou/itf/mdm07/sharing/MdMapingVO.xsd

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:jaxb="http://java.sun.com/xml/ns/jaxb" xmlns:ns0="http://sharing.mdm07.itf.yonyou.com/MdMapingVO" attributeFormDefault="unqualified" elementFormDefault="qualified" jaxb:version="2.0" targetNamespace="http://sharing.mdm07.itf.yonyou.com/MdMapingVO">
    <xsd:annotation>
        <xsd:documentation source="eip_version">63</xsd:documentation>
    </xsd:annotation>
    <xsd:element name="MdMapingVO" type="ns0:MdMapingVO"/>
    <xsd:complexType name="MdMapingVO">
        <xsd:sequence>
            <xsd:element minOccurs="0" name="busiDataId" type="xsd:string"/>
            <xsd:element minOccurs="0" name="entityCode" type="xsd:string"/>
            <xsd:element minOccurs="0" name="mdmCode" type="xsd:string"/>
        </xsd:sequence>
    </xsd:complexType>
</xsd:schema>
