ExcelSystem/resource/com/yonyou/itf/mdm07/sharing/OuterSystemRetVO.xsd

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:jaxb="http://java.sun.com/xml/ns/jaxb" xmlns:mdMapingVO="http://sharing.mdm07.itf.yonyou.com/MdMapingVO" xmlns:ns0="http://sharing.mdm07.itf.yonyou.com/OuterSystemRetVO" attributeFormDefault="unqualified" elementFormDefault="qualified" jaxb:version="2.0" targetNamespace="http://sharing.mdm07.itf.yonyou.com/OuterSystemRetVO">
    <xsd:annotation>
        <xsd:documentation source="eip_version">63</xsd:documentation>
    </xsd:annotation>
    <xsd:import namespace="http://sharing.mdm07.itf.yonyou.com/MdMapingVO" schemaLocation="../../../../../com/yonyou/itf/mdm07/sharing/MdMapingVO.xsd"/>
    <xsd:element name="OuterSystemRetVO" type="ns0:OuterSystemRetVO"/>
    <xsd:complexType name="OuterSystemRetVO">
        <xsd:sequence>
            <xsd:element maxOccurs="unbounded" minOccurs="0" name="mdmCodes" type="xsd:string"/>
            <xsd:element minOccurs="0" name="data" type="xsd:string"/>
            <xsd:element maxOccurs="unbounded" minOccurs="0" name="mdMapings" type="mdMapingVO:MdMapingVO"/>
            <xsd:element minOccurs="0" name="errorMsg" type="xsd:string"/>
            <xsd:element minOccurs="0" name="dataState" type="xsd:string"/>
            <xsd:element minOccurs="0" name="success" type="xsd:boolean"/>
        </xsd:sequence>
    </xsd:complexType>
</xsd:schema>
